### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
total_players = purchase_data_df["SN"].value_counts().count()
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
purchase_data_df_data = [[purchase_data_df["Item ID"].value_counts().count(),
                          purchase_data_df["Price"].mean(),
                          purchase_data_df["Purchase ID"].count(),
                          purchase_data_df["Price"].sum()]]
df = pd.DataFrame(purchase_data_df_data, columns = ['Unique Items', 'Average Price', 'Number of Purchases', 'Total Revenue'])
df.style.format({"Average Price": "${:20,.2f}", "Total Revenue": "${:20,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
Male = 'Male' 
Male_Count = purchase_data_df[purchase_data_df["Gender"]==Male].value_counts(purchase_data_df["SN"]).count()
Male_Pct = (Male_Count / total_players)
Female = 'Female'
Female_Count = purchase_data_df[purchase_data_df["Gender"]==Female].value_counts(purchase_data_df["SN"]).count()
Female_Pct = (Female_Count / total_players)
Other = 'Other / Non-Disclosed'
Other_Count = purchase_data_df[purchase_data_df["Gender"]==Other].value_counts(purchase_data_df["SN"]).count()
Other_Pct = (Other_Count / total_players)
datapacket = [[Male, Male_Count, Male_Pct], [Female, Female_Count, Female_Pct], [Other, Other_Count, Other_Pct]]
Gender1_df = pd.DataFrame(datapacket, columns = [' ', 'Total Count', 'Percentage of Players'])
Gender1_df['Percentage of Players'] = pd.Series(["{0:.2f}%".format(val * 100) for val in Gender1_df['Percentage of Players']], index = Gender1_df.index)
Gender1_df = Gender1_df.set_index(' ')
Gender1_df

                       Total Count Percentage of Players

Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
SelectG = 'Female' 
Pur_Cnt1 = purchase_data_df[purchase_data_df["Gender"]==SelectG].value_counts(purchase_data_df["Purchase ID"]).count()
Tot_Pur1 = purchase_data_df.loc[purchase_data_df["Gender"]==SelectG, "Price"].sum()
Avg_Pur1 = (Tot_Pur1 / Pur_Cnt1)

ATot_Pur = purchase_data_df.loc[purchase_data_df["Gender"]==SelectG, "Price"].groupby(purchase_data_df["SN"]).sum().sum()
Avg_PP_PG1 = ATot_Pur / Female_Count  

SelectG = 'Male'
Pur_Cnt2 = purchase_data_df[purchase_data_df["Gender"]==SelectG].value_counts(purchase_data_df["Purchase ID"]).count()
Tot_Pur2 = purchase_data_df.loc[purchase_data_df["Gender"]==SelectG, "Price"].sum()
Avg_Pur2 = (Tot_Pur2 / Pur_Cnt2)

ATot_Pur = purchase_data_df.loc[purchase_data_df["Gender"]==SelectG, "Price"].groupby(purchase_data_df["SN"]).sum().sum()
Avg_PP_PG2 = ATot_Pur / Male_Count

SelectG = 'Other / Non-Disclosed'
Pur_Cnt3 = purchase_data_df[purchase_data_df["Gender"]==SelectG].value_counts(purchase_data_df["Purchase ID"]).count()
Tot_Pur3 = purchase_data_df.loc[purchase_data_df["Gender"]==SelectG, "Price"].sum()
Avg_Pur3 = (Tot_Pur3 / Pur_Cnt3)

ATot_Pur = purchase_data_df.loc[purchase_data_df["Gender"]==SelectG, "Price"].groupby(purchase_data_df["SN"]).sum().sum()
Avg_PP_PG3 = ATot_Pur / Other_Count

datapacket = [[Female, Pur_Cnt1, Avg_Pur1, Tot_Pur1, Avg_PP_PG1], [Male, Pur_Cnt2, Avg_Pur2, Tot_Pur2, Avg_PP_PG2], 
              [Other, Pur_Cnt3, Avg_Pur3, Tot_Pur3, Avg_PP_PG3]]
Gender2_df = pd.DataFrame(datapacket, columns = ['Gender', 
                                                 'Purchase Count',
                                                 'Average Purchase Price',
                                                 'Total Purchase Value',
                                                 'Avg Total Purchase per Person' ])
Gender2_df = Gender2_df.set_index('Gender')
Gender2_df.style.format({"Average Purchase Price": "${:20,.2f}", "Total Purchase Value": "${:20,.2f}",
                         "Avg Total Purchase per Person": "${:20,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data_df["Age_Bin"] = pd.cut(purchase_data_df['Age'],bins=bins,labels=group_labels)
agebin_group = purchase_data_df.groupby("Age_Bin")
agebin_group["SN"].nunique()


players_per_group = agebin_group["SN"].nunique()
players_per_agebin_df = pd.DataFrame(agebin_group["SN"].nunique())
pct_of_players_per_agebin_df = pd.DataFrame((players_per_group/total_players)) 
#pct_of_players_df.head(20)
players_per_agebin_df = players_per_agebin_df.merge(pct_of_players_per_agebin_df, on="Age_Bin") 
players_per_agebin_df = players_per_agebin_df.rename(columns={"SN_x": "Total Count"})
players_per_agebin_df = players_per_agebin_df.rename(columns={"SN_y": "Percentage of Players"})
players_per_agebin_df['Percentage of Players'] = pd.Series(["{0:.2f}%".format(val * 100) for val in players_per_agebin_df['Percentage of Players']],
      index = players_per_agebin_df.index)

players_per_agebin_df.head(20)

         Total Count Percentage of Players
Age_Bin
<10               17                 2.95%
10-14             22                 3.82%
15-19            107                18.58%
20-24            258                44.79%
25-29             77                13.37%
30-34             52                 9.03%
35-39             31                 5.38%
40+               12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data_df["Age_Bin"] = pd.cut(purchase_data_df['Age'],bins=bins,labels=group_labels)
agebin_group = purchase_data_df.groupby("Age_Bin")
#agebin_group["Age_Bin"].count()
avgpur_per_agebin_df = pd.DataFrame(agebin_group["Purchase ID"].count())

tot_pur = agebin_group["Price"].sum()
pur_cnt = agebin_group["Purchase ID"].count()
avg_pur_price_df = pd.DataFrame((tot_pur/pur_cnt))
#avg_pur_price_df.head()

tot_pur = agebin_group["Price"].sum()
tot_pur_price_df = pd.DataFrame(tot_pur)
#tot_pur_price_df.head(20)

purchasers_per_grp = agebin_group["SN"].nunique()
tot_pur = agebin_group["Price"].sum()
avg_totpur_per_person_df = pd.DataFrame((tot_pur/purchasers_per_grp))
#avg_totpur_per_person_df.head(20)

avgpur_per_agebin_df = avgpur_per_agebin_df.merge(avg_pur_price_df, on="Age_Bin") 
avgpur_per_agebin_df = avgpur_per_agebin_df.merge(tot_pur_price_df, on="Age_Bin")
avgpur_per_agebin_df = avgpur_per_agebin_df.merge(avg_totpur_per_person_df, on="Age_Bin")
avgpur_per_agebin_df.index.name = "Age Ranges"
avgpur_per_agebin_df = avgpur_per_agebin_df.rename(columns={"Purchase ID": "Purchase Count"})
avgpur_per_agebin_df = avgpur_per_agebin_df.rename(columns={"0_x": "Average Purchase Price"})
avgpur_per_agebin_df = avgpur_per_agebin_df.rename(columns={"Price": "Total Purchase Value"})
avgpur_per_agebin_df = avgpur_per_agebin_df.rename(columns={"0_y": "Avg Total Purchase per Person"})

avgpur_per_agebin_df.style.format({"Average Purchase Price": "${:20,.2f}", "Total Purchase Value": "${:20,.2f}",
                         "Avg Total Purchase per Person": "${:20,.2f}"})

#avgpur_per_agebin_df.head()

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame